<h1>Sub Activities</h1>

<table class='table-striped table sortable'>
  <thead>
    <tr>
      <th>Activity</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_activities.each do |sub_activity| %>
      <tr>
        <td><%= sub_activity.activity.try :title %></td>
        <td><%= sub_activity.title %></td>
        <td><%= link_to 'Show', sub_activity %></td>
      </tr>
    <% end %>
  </tbody>
</table>