<h1>Organisations
<% if @region %>
  in <%= @region.name %>
<% end %>
</h1>

<table class='table-striped table sortable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Web</th>
      <th>Region</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="organisation">
    <%= render @organisations %>
  </tbody>
</table>
