<h1>Welcome</h1>

<p>Browse the different categories of <%= link_to "Activities", activities_path %> available in Aberdeen.</p>
<p>Or browse the entire list of <%= link_to "Activities", sub_activities_path %> available in Aberdeen.</p>

<p>Looking for a linked data version of this? You are in luck - <a href="http://muon.shift.re/calendar/">http://muon.shift.re/calendar/</a></p>