<h1>Welcome</h1>

<p>Browse the different categories of <%= link_to "Activities", activities_path %> available in Aberdeen.</p>
<p>Or browse the entire list of <%= link_to "Activities", sub_activities_path %> available in Aberdeen.</p>

<p>Looking for a linked data version of this? You are in luck - <a href="http://muon.shift.re/calendar/">http://muon.shift.re/calendar/</a></p>

<h2>About the project</h2>

<p>The MatchTheCity project was created as part of <a href="http://codethecity.org">CodeTheCity Aberdeen 2014</a>.</p>

<p>The purpose of the project is to provide information about various public reoccurring activities in the Aberdeen area. The current data is based around sport / fitness activities, however the project has been designed so it can also handle various other reoccuring events at various venues.</p>

<p>The ultimate aim is to be able to populate a MatchTheCity server with data for different areas.</p>

<h2>Developer Stuff</h2>
<p>A draft set of <%= link_to 'API calls', welcome_api_path %> for accessing the MatchTheCity data have been put together.</p>