development:
  email:
    :email_address: mtc@example.com
    :email_password: my_project_development

production:
  email:
    :email_address: mtc@example.com
    :email_password: my_project_development