<h1>Opportunities <% if @venue %> at <%= @venue.name %> <% end %></h1>

<%= paginate @opportunities %>

<p>
  <strong>Filter by Effort Rating</strong>
<% (0..5).each do |rating| %>
  <%= link_to "#{rating}", params.merge(:effort_rating => rating) %>
<% end %>
</p>

<table class='table-striped table sortable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Activity</th>
      <th>Sub Activity</th>
      <% unless @venue %>
        <th>Venue</th>
      <% end %>
      <th>Day</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody id="opportunities">
    <%= render @opportunities %>
  </tbody>
</table>
