body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0em auto;
  padding: 1em;
  font-family: sans-serif;
}

#wrapper
{
  padding: 0 2em;
}
#header
{
  margin: 1em auto;
  //border: 2px solid #000;
  padding: 1em;
}

#main_nav
{
  margin: 0 auto;
  display: table;

}

#main_nav a
{
  text-decoration: none;
  color: #fff;
  padding: 10px;


  background-color: lightgrey;
  border-right: 2px dotted;

    background: #222;
    background: -moz-linear-gradient(#252525, #0a0a0a);
    background: -o-linear-gradient(#252525, #0a0a0a);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
    background: -webkit-linear-gradient(#252525, #0a0a0a);
    background: -ms-linear-gradient(#252525, #0a0a0a);
    background: linear-gradient(#252525, #0a0a0a);
    -pie-background: linear-gradient(#252525, #0a0a0a);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px; */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-radius: 10px 10px 0px 0px;

}

#main_nav a:hover
{
  text-decoration: underline;
  color: pink;
}

h1
{
  padding-bottom: 2em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
